<?xml version="1.0"?>

<launch>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <remap from="scan" to="scan_filtered"/>
        <rosparam file="$(find rbkairos_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find rbkairos_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rbkairos_navigation)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rbkairos_navigation)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find rbkairos_navigation)/param/teb_local_planner_params.yaml" command="load" />
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="4.0" />
        <param name="use_dijkstra" value="False"/>
        <remap from="cmd_vel" to="robot/cmd_vel"/>
    </node>
</launch>
